[Unit]
Description=Run Luicellas Stalker
Wants=network-online.target
After=network-online.target
StartLimitIntervalSec=0

[Service]
Type=simple
Environment="BOT_TOKEN="
ExecStart=/usr/local/bin/luicellas-stalker
WorkingDirectory=/var/local/lib/luicellas-stalker/
User=pi
Group=pi

[Install]
WantedBy=multi-user.target
